{% load static %}
<div class="section section--u-idtceyv06" id="idtceyv06_0" data-do-section="{&quot;screen&quot;:{&quot;scroll&quot;:false,&quot;smooth&quot;:true}}">
    <div class="imageFit imageFit--u-i2ssposmc photo-swipe-image-nc" id="i2ssposmc_0" data-do-image="{&quot;screen&quot;:{&quot;objectFit&quot;:&quot;contain&quot;,&quot;lockRatio&quot;:true}}">
    <img src="{% static 'images/bez_nazvaniya_2.svg' %}" alt="Без названия 2" title="" class="imageFit__img imageFit__img--u-ib6l4xx9j" id="ib6l4xx9j_0">
    <div class="imageFit__overlay imageFit__overlay--u-ix5q66iig" id="ix5q66iig_0"></div>
    <div class="imageFit__zoom imageFit__zoom--u-ivdtn6w2x" id="ivdtn6w2x_0">
    <span class="svg_image svg_image--u-iyzaayq0f" id="iyzaayq0f_0" data-do-svg_image="{&quot;screen&quot;:{&quot;stretch&quot;:true}}">
    
    </span>
    </div>
    </div>
    <div class="container container--u-itn5jteu7" id="itn5jteu7_0">
    <div class="div div--u-i57ezkjo9" id="i57ezkjo9_0">
    <h1 class="page-title page-title--u-ir8x08r7e" id="ir8x08r7e_0">
    О нас и нашей работе
    </h1>
    <div class="text text--u-i5c00iat7" id="i5c00iat7_0">
    <span class="text-block-wrap-div">Проверены временем, воодушевлены работой </span>
    </div>
    <div class="rich-text rich-text--u-ivp3aykki" id="ivp3aykki_0">
    <div class="text-block-wrap-div">Все люди хоть немного, но сладкоежки, каждый порой балует себя лакомствами, а чтобы отказать себе в сладостях, особенно по случаю какого-либо праздника, нужно обладать поистине стоическим характером. Мы же не призываем Вас отказываться от лакомств, а наоборот - предлагаем Вам обилие тортов и изготовление тортов на заказ.</div>
    </div>
    
    
    <!-- БЛОК ОТПРАВКИ ПОЧТЫ-->
    <!--  -->
    
    {% include 'contact_form/contact_form.html' %}
    
    <!--  -->
    <!-- БЛОК ОТПРАВКИ ПОЧТЫ ЗАКОНЧИЛСЯ -->
    
    
    </div>
    </div>
    </div>
    