<div class="mosaic-slider_wrapper mosaic-slider_wrapper--u-ihyywi34m" id="ihyywi34m_0"
    data-do-slider="{&quot;screen&quot;:{&quot;effect&quot;:&quot;slide&quot;,&quot;loop&quot;:true,&quot;returnToFirst&quot;:false,&quot;speed&quot;:500,&quot;dotsType&quot;:&quot;points&quot;,&quot;lastSlideArrow&quot;:false,&quot;direction&quot;:&quot;horizontal&quot;,&quot;controlsGroup&quot;:false,&quot;swipe&quot;:true,&quot;autoplay&quot;:false,&quot;delay&quot;:5000,&quot;childrenAsync&quot;:false,&quot;previews&quot;:false,&quot;previewFit&quot;:&quot;cover&quot;,&quot;thumbs&quot;:false,&quot;thumbsToShow&quot;:3,&quot;thumbsDirection&quot;:&quot;horizontal&quot;,&quot;thumbsSlider&quot;:false,&quot;thumbsPosition&quot;:&quot;bottom&quot;,&quot;independentScrolling&quot;:false,&quot;thumbsCenterMode&quot;:false,&quot;thumbsCenterPadding&quot;:&quot;0px&quot;,&quot;thumbsFit&quot;:&quot;cover&quot;}}">
    <div class="mosaic-slider__item__outer mosaic-slider__item__outer--u-i9hcflg9z slick-slide slick-current slick-active"
        id="slick-slide00" data-slick-index="0" aria-hidden="false" role="tabpanel" style="width: 1351px;">
        <div class="mosaic-slider__item mosaic-slider__item--u-i25qswdx2" id="i25qswdx2_0">
            <div class="imageFit imageFit--u-ifox56s6t photo-swipe-image-nc" id="ifox56s6t_0"
                data-do-image="{&quot;screen&quot;:{&quot;objectFit&quot;:&quot;cover&quot;,&quot;maxWidth&quot;:1920,&quot;maxHeight&quot;:1920}}">
                <img src="static/images/54883421_2.jpg" alt="54883421_2" title=""
                    class="imageFit__img imageFit__img--u-i0zmd5dz4" id="i0zmd5dz4_0">
                <div class="imageFit__overlay imageFit__overlay--u-i3zwlfwv6" id="i3zwlfwv6_0"></div>
                <div class="imageFit__zoom imageFit__zoom--u-ifkwz75p2" id="ifkwz75p2_0"></div>
            </div>
            <div class="div div--u-iqxqolu59" id="iqxqolu59_0">
                <div class="heading heading--u-i2e57eko4" id="i2e57eko4_0">
                    <span class="text-block-wrap-div">Кондитерские изделия на заказ</span>
                </div>
                <div class="text text--u-ibeiguw9d" id="ibeiguw9d_0">
                    <span class="text-block-wrap-div">Бесплатная доставка по Таганрогу и округу при заказе от 2-х тысяч
                        рублей!</span>
                </div>
                <div role="button" class="link-universal link-universal--u-i61l8d1fj" id="i61l8d1fj_0"
                    data-do-link_universal="{&quot;screen&quot;:{&quot;type&quot;:&quot;button&quot;,&quot;popup&quot;:&quot;iddbgru7v_0&quot;,&quot;sidepanel&quot;:false,&quot;eventName&quot;:&quot;none&quot;,&quot;eventElement&quot;:&quot;self&quot;,&quot;eventAction&quot;:&quot;&quot;,&quot;selectedTag&quot;:&quot;&quot;,&quot;linkType&quot;:&quot;link&quot;,&quot;blank&quot;:false}}">
                    <div class="text text--u-iqc51xyx0" id="iqc51xyx0_0">
                        <span class="text-block-wrap-div"><a href="list" style="color: #fcfdff;">Хочу
                                попробовать</a></span>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>
</div>
</div>

</div>
</div>

</div>



</div>

</div>
</div>
<div class="container container--u-i648jg4mg" id="i648jg4mg_0">
    <div class="list list--u-i87cyqwdb" id="i87cyqwdb_0">
        <div class="list__item list__item--u-ilk3gy5r4" id="ilk3gy5r4_0">
            <a href="list" class="link-universal link-universal--u-i99kz6nb3" id="i99kz6nb3_0"
                data-do-link_universal="{&quot;screen&quot;:{&quot;type&quot;:&quot;link&quot;,&quot;popup&quot;:&quot;none&quot;,&quot;eventName&quot;:&quot;none&quot;,&quot;eventElement&quot;:&quot;self&quot;,&quot;eventAction&quot;:&quot;&quot;,&quot;selectedTag&quot;:&quot;&quot;,&quot;linkType&quot;:&quot;link&quot;,&quot;blank&quot;:false}}">
                <div class="div div--u-ici6xfj4u" id="ici6xfj4u_0">
                    <div class="imageFit imageFit--u-iqwnut1my photo-swipe-image-nc" id="iqwnut1my_0"
                        data-do-image="{&quot;screen&quot;:{&quot;objectFit&quot;:&quot;contain&quot;,&quot;lockRatio&quot;:true}}">
                        <img src="static/images/svg_image_1.svg" alt="svg_image_1" title=""
                            class="imageFit__img imageFit__img--u-i2fxlgikz" id="i2fxlgikz_0">
                        <div class="imageFit__overlay imageFit__overlay--u-im7s93wxl" id="im7s93wxl_0"></div>
                        <div class="imageFit__zoom imageFit__zoom--u-ihpl6ki7q" id="ihpl6ki7q_0">
                            <span class="svg_image svg_image--u-iyyn6exdh" id="iyyn6exdh_0"
                                data-do-svg_image="{&quot;screen&quot;:{&quot;stretch&quot;:true}}">

                            </span>
                        </div>
                    </div>
                    <div class="div div--u-is4fksp90" id="is4fksp90_0">
                        <span class="svg_image svg_image--u-idyvnc4mf" id="idyvnc4mf_0"
                            data-do-svg_image="{&quot;screen&quot;:{&quot;stretch&quot;:true}}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="23.282" height="19.812"
                                viewBox="0 0 23.282 19.812" data-prefix="ira7tbrgh">
                                <path
                                    d="M7.639 19.826a1 1 0 0 1-.725-.31L.288 12.56a1 1 0 0 1 1.449-1.378l5.845 6.136L21.494.364a1 1 0 0 1 1.547 1.268L8.413 19.461a1 1 0 0 1-.736.365h-.038z"
                                    fill-rule="evenodd" class="path-ig1yudq9v"></path>
                            </svg>
                        </span>
                    </div>
                </div>
                <div class="text text--u-i09azzn0r" id="i09azzn0r_0">
                    <span class="text-block-wrap-div">100% натуральный продукт без химии и гмо</span>
                </div>
            </a>
        </div>
        <div class="list__item list__item--u-ilk3gy5r4" id="ilk3gy5r4_1">
            <a href="list" class="link-universal link-universal--u-i99kz6nb3" id="i99kz6nb3_1"
                data-do-link_universal="{&quot;screen&quot;:{&quot;type&quot;:&quot;link&quot;,&quot;popup&quot;:&quot;none&quot;,&quot;eventName&quot;:&quot;none&quot;,&quot;eventElement&quot;:&quot;self&quot;,&quot;eventAction&quot;:&quot;&quot;,&quot;selectedTag&quot;:&quot;&quot;,&quot;linkType&quot;:&quot;link&quot;,&quot;blank&quot;:false}}">
                <div class="div div--u-ici6xfj4u" id="ici6xfj4u_1">
                    <div class="imageFit imageFit--u-iqwnut1my photo-swipe-image-nc" id="iqwnut1my_1"
                        data-do-image="{&quot;screen&quot;:{&quot;objectFit&quot;:&quot;contain&quot;,&quot;lockRatio&quot;:true}}">
                        <img src="static/images/svg_image_2.svg" alt="svg_image_2" title=""
                            class="imageFit__img imageFit__img--u-i2fxlgikz" id="i2fxlgikz_1">
                        <div class="imageFit__overlay imageFit__overlay--u-im7s93wxl" id="im7s93wxl_1"></div>
                        <div class="imageFit__zoom imageFit__zoom--u-ihpl6ki7q" id="ihpl6ki7q_1">
                            <span class="svg_image svg_image--u-iyyn6exdh" id="iyyn6exdh_1"
                                data-do-svg_image="{&quot;screen&quot;:{&quot;stretch&quot;:true}}">

                            </span>
                        </div>
                    </div>
                    <div class="div div--u-is4fksp90" id="is4fksp90_1">
                        <span class="svg_image svg_image--u-idyvnc4mf" id="idyvnc4mf_1"
                            data-do-svg_image="{&quot;screen&quot;:{&quot;stretch&quot;:true}}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="23.282" height="19.812"
                                viewBox="0 0 23.282 19.812" data-prefix="izsobmqh6">
                                <path
                                    d="M7.639 19.826a1 1 0 0 1-.725-.31L.288 12.56a1 1 0 0 1 1.449-1.378l5.845 6.136L21.494.364a1 1 0 0 1 1.547 1.268L8.413 19.461a1 1 0 0 1-.736.365h-.038z"
                                    fill-rule="evenodd" class="path-izr2ont1w"></path>
                            </svg>
                        </span>
                    </div>
                </div>
                <div class="text text--u-i09azzn0r" id="i09azzn0r_1">
                    <span class="text-block-wrap-div">Эксклюзивное оформление входит в стоимость продукции</span>
                </div>
            </a>
        </div>
        <div class="list__item list__item--u-ilk3gy5r4" id="ilk3gy5r4_2">
            <a href="list" class="link-universal link-universal--u-i99kz6nb3" id="i99kz6nb3_2"
                data-do-link_universal="{&quot;screen&quot;:{&quot;type&quot;:&quot;link&quot;,&quot;popup&quot;:&quot;none&quot;,&quot;eventName&quot;:&quot;none&quot;,&quot;eventElement&quot;:&quot;self&quot;,&quot;eventAction&quot;:&quot;&quot;,&quot;selectedTag&quot;:&quot;&quot;,&quot;linkType&quot;:&quot;link&quot;,&quot;blank&quot;:false}}">
                <div class="div div--u-ici6xfj4u" id="ici6xfj4u_2">
                    <div class="imageFit imageFit--u-iqwnut1my photo-swipe-image-nc" id="iqwnut1my_2"
                        data-do-image="{&quot;screen&quot;:{&quot;objectFit&quot;:&quot;contain&quot;,&quot;lockRatio&quot;:true}}">
                        <img src="static/images/svg_image_3.svg" alt="svg_image_3" title=""
                            class="imageFit__img imageFit__img--u-i2fxlgikz" id="i2fxlgikz_2">
                        <div class="imageFit__overlay imageFit__overlay--u-im7s93wxl" id="im7s93wxl_2"></div>

                        <div class="imageFit__zoom imageFit__zoom--u-ihpl6ki7q" id="ihpl6ki7q_2">
                            <span class="svg_image svg_image--u-iyyn6exdh" id="iyyn6exdh_2"
                                data-do-svg_image="{&quot;screen&quot;:{&quot;stretch&quot;:true}}">
                            </span>
                        </div>
                    </div>
                    <div class="div div--u-is4fksp90" id="is4fksp90_2">
                        <span class="svg_image svg_image--u-idyvnc4mf" id="idyvnc4mf_2"
                            data-do-svg_image="{&quot;screen&quot;:{&quot;stretch&quot;:true}}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="23.282" height="19.812"
                                viewBox="0 0 23.282 19.812" data-prefix="icd1wx3y5">
                                <path
                                    d="M7.639 19.826a1 1 0 0 1-.725-.31L.288 12.56a1 1 0 0 1 1.449-1.378l5.845 6.136L21.494.364a1 1 0 0 1 1.547 1.268L8.413 19.461a1 1 0 0 1-.736.365h-.038z"
                                    fill-rule="evenodd" class="path-itspgf6x1"></path>
                            </svg>
                        </span>
                    </div>
                </div>
                <div class="text text--u-i09azzn0r" id="i09azzn0r_2">
                    <span class="text-block-wrap-div">бережная и бесплатная доставка по Таганрогу и округу</span>
                </div>
            </a>
        </div>
    </div>
</div>
</div>