asgiref
Babel
certifi
charset-normalizer
crispy-bootstrap5
defusedxml
dj-database-url
Django
django-crispy-forms
django-paypal
django-phonenumber-field
gunicorn
idna
phonenumbers
Pillow
psycopg2-binary
pytz
requests
sqlparse
typing_extensions
urllib3
weasyprint