asgiref
Babel
Brotli
certifi
cffi
charset-normalizer
crispy-bootstrap5
cssselect2
defusedxml
dj-database-url
Django
django-crispy-forms
django-paypal
django-phonenumber-field
fonttools
gunicorn
html5lib
idna
phonenumbers
Pillow
psycopg2-binary
pycparser
pydyf
pyphen
pytz
requests
six
sqlparse
tinycss2
typing_extensions
urllib3
weasyprint
webencodings
zopfli
