{% extends 'shop/base.html' %}
{% block title %}

ОБРАТНЯ СВЯЗЬ
{% endblock %}

{% block content %}
<style>
   * {
      box-sizing: border-box;
   }

   body {
      background: #f673d4;
   }

   .decor {
      position: relative;
      max-width: 400px;
      margin: 50px auto 0;
      background: white;
      border-radius: 30px;
   }

   .form-left-decoration,
   .form-right-decoration {
      content: "";
      position: absolute;
      width: 50px;
      height: 20px;
      background: #f673d4;
      border-radius: 20px;
   }

   .form-left-decoration {
      bottom: 60px;
      left: -30px;
   }

   .form-right-decoration {
      top: 60px;
      right: -30px;
   }

   .form-left-decoration:before,
   .form-left-decoration:after,
   .form-right-decoration:before,
   .form-right-decoration:after {
      content: "";
      position: absolute;
      width: 50px;
      height: 20px;
      border-radius: 30px;
      background: white;
   }

   .form-left-decoration:before {
      top: -20px;
   }

   .form-left-decoration:after {
      top: 20px;
      left: 10px;
   }

   .form-right-decoration:before {
      top: -20px;
      right: 0;
   }

   .form-right-decoration:after {
      top: 20px;
      right: 10px;
   }

   .circle {
      position: absolute;
      bottom: 80px;
      left: -55px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: white;
   }

   .form-inner {
      padding: 50px;
   }

   .form-inner input,
   .form-inner textarea {
      display: block;
      width: 100%;
      padding: 0 20px;
      margin-bottom: 10px;
      background: #E9EFF6;
      line-height: 40px;
      border-width: 0;
      border-radius: 20px;
      font-family: 'Roboto', sans-serif;
   }

   .form-inner input[type="submit"] {
      margin-top: 30px;
      background: #f69a73;
      border-bottom: 4px solid #d87d56;
      color: white;
      font-size: 14px;
   }

   .form-inner textarea {
      resize: none;
   }

   .form-inner h3 {
      margin-top: 0;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 24px;
      color: #707981;
   }
</style>
<form action="{% url 'feedback:feedback'%}" method="POST">
   {% csrf_token %}
   <form class="decor">
      <div class="form-left-decoration"></div>
      <div class="form-right-decoration"></div>
      <div class="circle"></div>
      <div class="form-inner">
         <h3>Написать нам</h3>
         <input type="text" name="first_name" placeholder="Иван">
         <input type="text" name="last_name" placeholder="Иванов">
         <input type="email" name="email" placeholder="exempl@email.ru">
         <textarea name="message" placeholder="Сообщение..." rows="3"></textarea>
         <input type="submit" value="Отправить">
      </div>
   </form>

   <!-- <input type="text" name="first_name" placeholder="Иван">
      
        
        <input type="text" name="first_name" placeholder="Иван">
      
        
        <input type="text" name="email" placeholder="exempl@email.ru">
      
        
        <input type="text" name="message" placeholder="Текст">
           -->

</form>

<form action="{% url 'shop:home' %}">

   <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Главная</button>
</form>
{% endblock %}



<!-- <form action="{% url 'feedback:feedback'%}" method="POST">
    {% csrf_token %}
   
  <input type="text" name="first_name" placeholder="Иван">

  
  <input type="text" name="last_name" placeholder="Иванов">

  
  <input type="text" name="email" placeholder="exempl@email.ru">

  
  <input type="text" name="message" placeholder="Текст">
    
    <input type="submit">
</form> -->