{% extends 'shop/base.html' %}

{% block content %}
{% include 'shop/include/slider.html' %}
{% include 'shop/include/category.html' %}
{% include 'shop/include/foto.html' %}
<div class="section section--u-i8jycqzpo" id="i8jycqzpo_0"
    data-do-section="{&quot;screen&quot;:{&quot;scroll&quot;:false,&quot;smooth&quot;:true}}">
    <div class="container container--u-i44l8npvf" id="i44l8npvf_0">
        <div class="div div--u-igk5eobiz" id="igk5eobiz_0">
            <div class="heading heading--u-icv9qdbho" id="icv9qdbho_0">
                <span class="text-block-wrap-div">Почему клиенты выбирают нас:</span>
            </div>
            <div class="text text--u-ikqvj3o6b" id="ikqvj3o6b_0">
                <span class="text-block-wrap-div">С нами Вы сможете реализовать любые свои кондитерские пожелания</span>
            </div>
        </div>
        <div class="div div--u-iewxqlgap" id="iewxqlgap_0">
            <div class="imageFit imageFit--u-i3ohmpwmg photo-swipe-image-nc" id="i3ohmpwmg_0"
                data-do-image="{&quot;screen&quot;:{&quot;objectFit&quot;:&quot;contain&quot;,&quot;lockRatio&quot;:true,&quot;maxHeight&quot;:960,&quot;maxWidth&quot;:960}}">
                <img src="static/images/img_preim.jpg" alt="IMG_PREIM" title=""
                    class="imageFit__img imageFit__img--u-i8fhaop3n" id="i8fhaop3n_0">
                <div class="imageFit__overlay imageFit__overlay--u-ibcqmr6nf" id="ibcqmr6nf_0"></div>
                <div class="imageFit__zoom imageFit__zoom--u-i14xwiu9h" id="i14xwiu9h_0">
                    <span class="svg_image svg_image--u-iywjj8ze4" id="iywjj8ze4_0"
                        data-do-svg_image="{&quot;screen&quot;:{&quot;stretch&quot;:true}}">

                    </span>
                </div>
            </div>
            <div class="div div--u-iis8jtd9r" id="iis8jtd9r_0">
                <div class="list list--u-ik45xivcr" id="ik45xivcr_0">
                    <div class="list__item list__item--u-i1z76v260" id="i1z76v260_0">
                        <a href="#" class="link-universal link-universal--u-i5lkqj22d" id="i5lkqj22d_0"
                            data-do-link_universal="{&quot;screen&quot;:{&quot;type&quot;:&quot;link&quot;,&quot;popup&quot;:&quot;none&quot;,&quot;eventName&quot;:&quot;none&quot;,&quot;eventElement&quot;:&quot;self&quot;,&quot;eventAction&quot;:&quot;&quot;,&quot;selectedTag&quot;:&quot;&quot;,&quot;linkType&quot;:&quot;link&quot;,&quot;blank&quot;:false}}">
                            <div class="div div--u-ih1t9acah" id="ih1t9acah_0">
                                <div class="imageFit imageFit--u-i5ksig7e8 photo-swipe-image-nc" id="i5ksig7e8_0"
                                    data-do-image="{&quot;screen&quot;:{&quot;objectFit&quot;:&quot;contain&quot;,&quot;lockRatio&quot;:true}}">
                                    <img src="static/images/delivery.png" alt="delivery" title=""
                                        class="imageFit__img imageFit__img--u-id67witju" id="id67witju_0">
                                    <div class="imageFit__overlay imageFit__overlay--u-idl8yrpys" id="idl8yrpys_0">
                                    </div>
                                    <div class="imageFit__zoom imageFit__zoom--u-ibrhlifot" id="ibrhlifot_0">
                                        <span class="svg_image svg_image--u-i57wo34ph" id="i57wo34ph_0"
                                            data-do-svg_image="{&quot;screen&quot;:{&quot;stretch&quot;:true}}">

                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="div div--u-ikc2ugwjf" id="ikc2ugwjf_0">
                                <div class="text text--u-i6a75czfj" id="i6a75czfj_0">
                                    <span class="text-block-wrap-div">Бережная доставка по Таганрогу и округу</span>
                                </div>
                                <div class="text text--u-i8czjdlku" id="i8czjdlku_0">
                                    <span class="text-block-wrap-div">Собственная служба доставки на базе
                                        специализированного автопарка</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="list__item list__item--u-i1z76v260" id="i1z76v260_1">
                        <a href="#" class="link-universal link-universal--u-i5lkqj22d" id="i5lkqj22d_1"
                            data-do-link_universal="{&quot;screen&quot;:{&quot;type&quot;:&quot;link&quot;,&quot;popup&quot;:&quot;none&quot;,&quot;eventName&quot;:&quot;none&quot;,&quot;eventElement&quot;:&quot;self&quot;,&quot;eventAction&quot;:&quot;&quot;,&quot;selectedTag&quot;:&quot;&quot;,&quot;linkType&quot;:&quot;link&quot;,&quot;blank&quot;:false}}">
                            <div class="div div--u-ih1t9acah" id="ih1t9acah_1">
                                <div class="imageFit imageFit--u-i5ksig7e8 photo-swipe-image-nc" id="i5ksig7e8_1"
                                    data-do-image="{&quot;screen&quot;:{&quot;objectFit&quot;:&quot;contain&quot;,&quot;lockRatio&quot;:true}}">
                                    <img src="static/images/money.png" alt="money" title=""
                                        class="imageFit__img imageFit__img--u-id67witju" id="id67witju_1">
                                    <div class="imageFit__overlay imageFit__overlay--u-idl8yrpys" id="idl8yrpys_1">
                                    </div>
                                    <div class="imageFit__zoom imageFit__zoom--u-ibrhlifot" id="ibrhlifot_1">
                                        <span class="svg_image svg_image--u-i57wo34ph" id="i57wo34ph_1"
                                            data-do-svg_image="{&quot;screen&quot;:{&quot;stretch&quot;:true}}">

                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="div div--u-ikc2ugwjf" id="ikc2ugwjf_1">
                                <div class="text text--u-i6a75czfj" id="i6a75czfj_1">
                                    <span class="text-block-wrap-div">Доступные цены и широкий ассортимент</span>
                                </div>
                                <div class="text text--u-i8czjdlku" id="i8czjdlku_1">
                                    <span class="text-block-wrap-div">От простых пирожных до больших свадебных тортов.
                                        Эксклюзивное оформление</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="list__item list__item--u-i1z76v260" id="i1z76v260_2">
                        <a href="#" class="link-universal link-universal--u-i5lkqj22d" id="i5lkqj22d_2"
                            data-do-link_universal="{&quot;screen&quot;:{&quot;type&quot;:&quot;link&quot;,&quot;popup&quot;:&quot;none&quot;,&quot;eventName&quot;:&quot;none&quot;,&quot;eventElement&quot;:&quot;self&quot;,&quot;eventAction&quot;:&quot;&quot;,&quot;selectedTag&quot;:&quot;&quot;,&quot;linkType&quot;:&quot;link&quot;,&quot;blank&quot;:false}}">
                            <div class="div div--u-ih1t9acah" id="ih1t9acah_2">
                                <div class="imageFit imageFit--u-i5ksig7e8 photo-swipe-image-nc" id="i5ksig7e8_2"
                                    data-do-image="{&quot;screen&quot;:{&quot;objectFit&quot;:&quot;contain&quot;,&quot;lockRatio&quot;:true}}">
                                    <img src="static/images/quality.png" alt="quality" title=""
                                        class="imageFit__img imageFit__img--u-id67witju" id="id67witju_2">
                                    <div class="imageFit__overlay imageFit__overlay--u-idl8yrpys" id="idl8yrpys_2">
                                    </div>
                                    <div class="imageFit__zoom imageFit__zoom--u-ibrhlifot" id="ibrhlifot_2">
                                        <span class="svg_image svg_image--u-i57wo34ph" id="i57wo34ph_2"
                                            data-do-svg_image="{&quot;screen&quot;:{&quot;stretch&quot;:true}}">

                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="div div--u-ikc2ugwjf" id="ikc2ugwjf_2">
                                <div class="text text--u-i6a75czfj" id="i6a75czfj_2">
                                    <span class="text-block-wrap-div">Качественная продукция</span>
                                </div>
                                <div class="text text--u-i8czjdlku" id="i8czjdlku_2">
                                    <span class="text-block-wrap-div">100% натуральный продукт. Мы поддерживаем
                                        безупречное качество благодаря сочетанию традиционных рецептов и современных
                                        технологий производства</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="list__item list__item--u-i1z76v260" id="i1z76v260_3">
                        <a href="#" class="link-universal link-universal--u-i5lkqj22d" id="i5lkqj22d_3"
                            data-do-link_universal="{&quot;screen&quot;:{&quot;type&quot;:&quot;link&quot;,&quot;popup&quot;:&quot;none&quot;,&quot;eventName&quot;:&quot;none&quot;,&quot;eventElement&quot;:&quot;self&quot;,&quot;eventAction&quot;:&quot;&quot;,&quot;selectedTag&quot;:&quot;&quot;,&quot;linkType&quot;:&quot;link&quot;,&quot;blank&quot;:false}}">
                            <div class="div div--u-ih1t9acah" id="ih1t9acah_3">
                                <div class="imageFit imageFit--u-i5ksig7e8 photo-swipe-image-nc" id="i5ksig7e8_3"
                                    data-do-image="{&quot;screen&quot;:{&quot;objectFit&quot;:&quot;contain&quot;,&quot;lockRatio&quot;:true}}">
                                    <img src="static/images/medal.png" alt="medal" title=""
                                        class="imageFit__img imageFit__img--u-id67witju" id="id67witju_3">
                                    <div class="imageFit__overlay imageFit__overlay--u-idl8yrpys" id="idl8yrpys_3">
                                    </div>
                                    <div class="imageFit__zoom imageFit__zoom--u-ibrhlifot" id="ibrhlifot_3">
                                        <span class="svg_image svg_image--u-i57wo34ph" id="i57wo34ph_3"
                                            data-do-svg_image="{&quot;screen&quot;:{&quot;stretch&quot;:true}}">

                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="div div--u-ikc2ugwjf" id="ikc2ugwjf_3">
                                <div class="text text--u-i6a75czfj" id="i6a75czfj_3">
                                    <span class="text-block-wrap-div">Профессиональные кондитеры</span>
                                </div>
                                <div class="text text--u-i8czjdlku" id="i8czjdlku_3">
                                    <span class="text-block-wrap-div">В нашей компании работают только лучшие повара
                                        высококвалифицированные мастера с огромным опытом работы и непревзойденным
                                        талантом</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section--u-ie0nktjiq" id="ie0nktjiq_0"
    data-do-section="{&quot;screen&quot;:{&quot;scroll&quot;:false,&quot;smooth&quot;:true}}">
    <div class="container container--u-iqftbb8f0" id="iqftbb8f0_0">
        <div class="div div--u-iu6p9gwxd" id="iu6p9gwxd_0">
            <div class="heading heading--u-ilicv0o0n" id="ilicv0o0n_0">
                <span class="text-block-wrap-div">Отзывы клиентов</span>
            </div>
            <div class="text text--u-icr3s2cpe" id="icr3s2cpe_0">
                <span class="text-block-wrap-div">Люди которые нам доверяют</span>
            </div>
        </div>
        <div class="list list--u-i5uk81bgx" id="i5uk81bgx_0">
            <div class="list__item list__item--u-iw16qvfeb" id="iw16qvfeb_0">
                <div class="div div--u-iilxn3yo3" id="iilxn3yo3_0">
                    <div class="imageFit imageFit--u-iadkbyc32 photo-swipe-image-nc" id="iadkbyc32_0"
                        data-do-image="{&quot;screen&quot;:{&quot;objectFit&quot;:&quot;cover&quot;,&quot;lockRatio&quot;:true}}">
                        <img src="static/images/54747310_3.jpg" alt="54747310_3" title=""
                            class="imageFit__img imageFit__img--u-i5tpwzbcb" id="i5tpwzbcb_0">
                        <div class="imageFit__overlay imageFit__overlay--u-ipv1li2us" id="ipv1li2us_0"></div>
                        <div class="imageFit__zoom imageFit__zoom--u-i76ka3256" id="i76ka3256_0">
                            <span class="svg_image svg_image--u-iyfhgvmfh" id="iyfhgvmfh_0"
                                data-do-svg_image="{&quot;screen&quot;:{&quot;stretch&quot;:true}}">

                            </span>
                        </div>
                    </div>
                </div>
                <div class="text text--u-iwexcmoxe" id="iwexcmoxe_0">
                    <span class="text-block-wrap-div">Ирина Маринина</span>
                </div>
                <div class="text text--u-i3ukoj3ns" id="i3ukoj3ns_0">
                    <span class="text-block-wrap-div">Заказала торт в рекомендованной друзьями кондитерской, а в день,
                        когда его должны были доставить, получила от них сообщение, что у них накладка и они успеют
                        только к следующему вечеру. В расстроенных чувствах стала искать и наткнулась на этот
                        сайт.</span>
                </div>
            </div>
            <div class="list__item list__item--u-iw16qvfeb" id="iw16qvfeb_1">
                <div class="div div--u-iilxn3yo3" id="iilxn3yo3_1">
                    <div class="imageFit imageFit--u-iadkbyc32 photo-swipe-image-nc" id="iadkbyc32_1"
                        data-do-image="{&quot;screen&quot;:{&quot;objectFit&quot;:&quot;cover&quot;,&quot;lockRatio&quot;:true}}">
                        <img src="static/images/54667083_3.jpg" alt="54667083_3" title=""
                            class="imageFit__img imageFit__img--u-i5tpwzbcb" id="i5tpwzbcb_1">
                        <div class="imageFit__overlay imageFit__overlay--u-ipv1li2us" id="ipv1li2us_1"></div>
                        <div class="imageFit__zoom imageFit__zoom--u-i76ka3256" id="i76ka3256_1">
                            <span class="svg_image svg_image--u-iyfhgvmfh" id="iyfhgvmfh_1"
                                data-do-svg_image="{&quot;screen&quot;:{&quot;stretch&quot;:true}}">

                            </span>
                        </div>
                    </div>
                </div>
                <div class="text text--u-iwexcmoxe" id="iwexcmoxe_1">
                    <span class="text-block-wrap-div">Сергей Сергеевич</span>
                </div>
                <div class="text text--u-i3ukoj3ns" id="i3ukoj3ns_1">
                    <span class="text-block-wrap-div">Огромное спасибо за куличи! Куличи оказались очень вкусными и
                        красивыми. Коллектив остался сыт и доволен. Доставку выполнили в срок (за это всегда больше
                        всего переживаешь). Очень рада, что нашла ваш сайт. При случае обязательно обращусь к вам еще
                        раз.</span>
                </div>
            </div>
            <div class="list__item list__item--u-iw16qvfeb" id="iw16qvfeb_2">
                <div class="div div--u-iilxn3yo3" id="iilxn3yo3_2">
                    <div class="imageFit imageFit--u-iadkbyc32 photo-swipe-image-nc" id="iadkbyc32_2"
                        data-do-image="{&quot;screen&quot;:{&quot;objectFit&quot;:&quot;cover&quot;,&quot;lockRatio&quot;:true}}">
                        <img src="static/images/54751305_3.jpg" alt="54751305_3" title=""
                            class="imageFit__img imageFit__img--u-i5tpwzbcb" id="i5tpwzbcb_2">
                        <div class="imageFit__overlay imageFit__overlay--u-ipv1li2us" id="ipv1li2us_2"></div>
                        <div class="imageFit__zoom imageFit__zoom--u-i76ka3256" id="i76ka3256_2">
                            <span class="svg_image svg_image--u-iyfhgvmfh" id="iyfhgvmfh_2"
                                data-do-svg_image="{&quot;screen&quot;:{&quot;stretch&quot;:true}}">

                            </span>
                        </div>
                    </div>
                </div>
                <div class="text text--u-iwexcmoxe" id="iwexcmoxe_2">
                    <span class="text-block-wrap-div">Елена Уткина</span>
                </div>
                <div class="text text--u-i3ukoj3ns" id="i3ukoj3ns_2">
                    <span class="text-block-wrap-div">Заказывала на свадьбу 3-х ярусный торт на 12 кг. На дегустации
                        начинки все очень понравились. Не прям уж изысканно, но вкусно! Дизайн обещали сделать по
                        фотографии - довольно простой, мастика с небольшим рисунком и двумя-тремя розочками
                        сбоку.</span>
                </div>
            </div>
        </div>
        <a href="#" class="link-universal link-universal--u-i5gl4q67v" id="i5gl4q67v_0"
            data-do-link_universal="{&quot;screen&quot;:{&quot;type&quot;:&quot;link&quot;,&quot;popup&quot;:&quot;none&quot;,&quot;sidepanel&quot;:false,&quot;eventName&quot;:&quot;none&quot;,&quot;eventElement&quot;:&quot;self&quot;,&quot;eventAction&quot;:&quot;&quot;,&quot;selectedTag&quot;:&quot;&quot;,&quot;linkType&quot;:&quot;link&quot;,&quot;blank&quot;:false}}">
            <div class="text text--u-i4whdsl02" id="i4whdsl02_0">
                <span class="text-block-wrap-div">Смотреть все</span>
            </div>
        </a>
    </div>
</div>

<div class="section section--u-i8h8wbg85" id="i8h8wbg85_0"
    data-do-section="{&quot;screen&quot;:{&quot;scroll&quot;:false,&quot;smooth&quot;:true}}">
    <div class="container container--u-i29nsc9ap" id="i29nsc9ap_0">
        <div class="div div--u-ium2obpqc" id="ium2obpqc_0">
            <div class="heading heading--u-i5yc40053" id="i5yc40053_0">
                <span class="text-block-wrap-div">Наши заказчики</span>
            </div>
        </div>
        <div class="list list--u-i8n1cn68n" id="i8n1cn68n_0">
            <div class="list__item list__item--u-i1mt37a0u" id="i1mt37a0u_0">
                <a href="#" class="link-universal link-universal--u-idqfotnre" id="idqfotnre_0"
                    data-do-link_universal="{&quot;screen&quot;:{&quot;type&quot;:&quot;link&quot;,&quot;popup&quot;:&quot;none&quot;,&quot;eventName&quot;:&quot;none&quot;,&quot;eventElement&quot;:&quot;self&quot;,&quot;eventAction&quot;:&quot;&quot;,&quot;selectedTag&quot;:&quot;&quot;,&quot;linkType&quot;:&quot;link&quot;,&quot;blank&quot;:false}}">
                    <div class="imageFit imageFit--u-i6nu3qw5m photo-swipe-image-nc" id="i6nu3qw5m_0"
                        data-do-image="{&quot;screen&quot;:{&quot;objectFit&quot;:&quot;cover&quot;,&quot;lockRatio&quot;:true}}">
                        <img src="static/images/6.svg" alt="6" title="" class="imageFit__img imageFit__img--u-if6jt0cps"
                            id="if6jt0cps_0">
                        <div class="imageFit__overlay imageFit__overlay--u-i3sznbf25" id="i3sznbf25_0"></div>
                        <div class="imageFit__zoom imageFit__zoom--u-ia6kxhioe" id="ia6kxhioe_0">
                            <span class="svg_image svg_image--u-iyna8iprj" id="iyna8iprj_0"
                                data-do-svg_image="{&quot;screen&quot;:{&quot;stretch&quot;:true}}">

                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="list__item list__item--u-i1mt37a0u" id="i1mt37a0u_1">
                <a href="#" class="link-universal link-universal--u-idqfotnre" id="idqfotnre_1"
                    data-do-link_universal="{&quot;screen&quot;:{&quot;type&quot;:&quot;link&quot;,&quot;popup&quot;:&quot;none&quot;,&quot;eventName&quot;:&quot;none&quot;,&quot;eventElement&quot;:&quot;self&quot;,&quot;eventAction&quot;:&quot;&quot;,&quot;selectedTag&quot;:&quot;&quot;,&quot;linkType&quot;:&quot;link&quot;,&quot;blank&quot;:false}}">
                    <div class="imageFit imageFit--u-i6nu3qw5m photo-swipe-image-nc" id="i6nu3qw5m_1"
                        data-do-image="{&quot;screen&quot;:{&quot;objectFit&quot;:&quot;cover&quot;,&quot;lockRatio&quot;:true}}">
                        <img src="static/images/2.svg" alt="2" title="" class="imageFit__img imageFit__img--u-if6jt0cps"
                            id="if6jt0cps_1">
                        <div class="imageFit__overlay imageFit__overlay--u-i3sznbf25" id="i3sznbf25_1"></div>
                        <div class="imageFit__zoom imageFit__zoom--u-ia6kxhioe" id="ia6kxhioe_1">
                            <span class="svg_image svg_image--u-iyna8iprj" id="iyna8iprj_1"
                                data-do-svg_image="{&quot;screen&quot;:{&quot;stretch&quot;:true}}">

                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="list__item list__item--u-i1mt37a0u" id="i1mt37a0u_2">
                <a href="#" class="link-universal link-universal--u-idqfotnre" id="idqfotnre_2"
                    data-do-link_universal="{&quot;screen&quot;:{&quot;type&quot;:&quot;link&quot;,&quot;popup&quot;:&quot;none&quot;,&quot;eventName&quot;:&quot;none&quot;,&quot;eventElement&quot;:&quot;self&quot;,&quot;eventAction&quot;:&quot;&quot;,&quot;selectedTag&quot;:&quot;&quot;,&quot;linkType&quot;:&quot;link&quot;,&quot;blank&quot;:false}}">
                    <div class="imageFit imageFit--u-i6nu3qw5m photo-swipe-image-nc" id="i6nu3qw5m_2"
                        data-do-image="{&quot;screen&quot;:{&quot;objectFit&quot;:&quot;cover&quot;,&quot;lockRatio&quot;:true}}">
                        <img src="static/images/4.svg" alt="4" title="" class="imageFit__img imageFit__img--u-if6jt0cps"
                            id="if6jt0cps_2">
                        <div class="imageFit__overlay imageFit__overlay--u-i3sznbf25" id="i3sznbf25_2"></div>
                        <div class="imageFit__zoom imageFit__zoom--u-ia6kxhioe" id="ia6kxhioe_2">
                            <span class="svg_image svg_image--u-iyna8iprj" id="iyna8iprj_2"
                                data-do-svg_image="{&quot;screen&quot;:{&quot;stretch&quot;:true}}">

                            </span>

                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>




{% endblock %}